{% load static %}
{% if user == quest.user or user.is_superuser %}
<a href="#" class="p-2 badge badge-dark" data-toggle="modal" data-target="#EditModalScrollable">
    Edit
    <i class="fa-solid fa-pen"></i>
</a>
{% endif %}

<!-- Edit Modal -->
<div class="modal fade" id="EditModalScrollable" tabindex="-1" role="dialog" aria-labelledby="EditModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditModalScrollableTitle"><i class="fa-regular fa-pen-to-square"></i> Edit your query</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data" action="{% url 'edit_query' quest.id %}">
                {% csrf_token %}
                    <!-- Display Existing Attachments -->
                    <div class="form-group">
                        <label><i class="fa-solid fa-paperclip"></i> Current attachments:</label>
                        <div id="existing-attachments-{{ quest.id }}">
                            <!-- File Attachments (Top) -->
                            <div class="attachment-files">
                                {% for attachment in quest.attachments.all %}
                                    {% if not attachment.is_image %}
                                        <div class="attachment-box">
                                            <a href="{{ attachment.file.url }}" target="_blank" class="file-link">{{ attachment.file.name }}</a>
                                            <i class="fa-solid fa-circle-xmark remove-attachment text-dark" 
                                            data-attachment-id="{{ attachment.id }}" 
                                            data-attachment-type="question"></i>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Image Attachments (Bottom) -->
                            <div class="attachment-images">
                                {% if attachment.is_image %}
                                    <a href="{{ attachment.file.url }}" class="glightbox" data-glightbox="gallery{{ answer.id }}">
                                        <img src="{{ attachment.file.url }}" alt="Image Attachment" class="img-fluid m-1" style="height: 200px; max-width: 300px;">
                                    </a>
                                {% endif %}

                                {% for attachment in quest.attachments.all %}
                                    {% if attachment.is_image %}
                                        <div class="attachment-box">
                                            <a href="{{ attachment.file.url }}" class="glightbox" data-glightbox="gallery{{ quest.id }}">
                                                <img src="{{ attachment.file.url }}" class="small-image">
                                            </a>    
                                                <i class="fa-solid fa-circle-xmark remove-attachment text-dark" 
                                                data-attachment-id="{{ attachment.id }}" 
                                                data-attachment-type="question"></i>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="q-form-group form-group">
                    <label for="id_category">Category*</label>
                    <select name="category" class="form-control" id="id_category" required>
                        <!-- Automated only 16/4/25 -->
                        <option value="HotDocs" {% if quest.category == "HotDocs" %}selected{% endif %}>HotDocs</option>
                        <option value="Document Drafter" {% if quest.category == "Document Drafter" %}selected{% endif %}>Document Drafter</option>
                        <!-- Automated end -->
                        <!-- Major works only 16/4/25 -->
                        <option value="Formatting" {% if quest.category == "Formatting" %}selected{% endif %}>Formatting</option>
                        <option value="Editing" {% if quest.category == "Editing" %}selected{% endif %}>Editing</option>
                        <option value="Conversion" {% if quest.category == "Conversion" %}selected{% endif %}>Conversion</option>
                        <!-- Major works end -->
                    </select>
                    </div>
                    <div class="q-form-group form-group">
                        <label for="id_tags">Tags
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="This will be served as a keyword"></i>
                        </label>
                        <input type="text" id="id_tags_input" class="form-control" placeholder="Add tags and press Enter or use a comma">
                        <div id="tag-suggestions" class="suggestions-box"></div>
                        <div id="tags-container" class="mt-2">
                            {% for tag in quest.tags.all %}
                                <div class="tag badge badge-primary mr-2 mb-2 p-2" style="font-size: 16px;">
                                    {{ tag.name }}
                                    <span class="ml-2" style="cursor: pointer;" onclick="removeTag('{{ tag.name }}')">&times;</span>
                                </div>
                            {% endfor %}
                        </div>
                        <input type="hidden" id="id_tags" name="tags" value="{{ quest.tags.all|join:',' }}">
                    </div>
                    <div class="q-form-group form-group">
                    <label for="id_issue">Issue*</label>
                    <input type="text" class="form-control" id="id_issue" name="issue"
                        value="{{ quest.issue }}" placeholder="This will serve as a title" required>
                    </div>
                    <div class="q-form-group form-group">
                    <label for="id_detail">Detail</label>
                    <textarea class="form-control" id="id_detail" name="detail" rows="4">{{ quest.detail }}</textarea>
                    </div>
                    <div class="q-form-group form-group">
                    <label for="id_referenceform">Reference form*</label>
                    <input type="text" class="form-control" id="id_referenceform" name="referenceform"
                        value="{{ quest.referenceform }}" placeholder="e.g., LIT_123456">
                    </div>
                </div>
                <div class="modal-footer fixed-footer">
                    <div class="form-group w-100">
                        <label for="id_attachment">+<i class="fa-solid fa-paperclip"></i> Add new attachments: </label>
                        <input type="file" class="form-control-file" id="id_attachment" name="attachments" multiple>
                    </div>    
                <button type="submit" class="btn btn-dark w-100"><i class="fa-solid fa-floppy-disk"></i> Update Query</button>
                </div>
            </form>
        </div>
    </div>
</div>