<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\Python313\python.exe" arguments="C:\inetpub\wwwroot\QueryManager\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\QueryManager\logs\" />
        <handlers>
            <add name="QueryManagerHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\QueryManager" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
    </appSettings>
</configuration>
